body{
    margin: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.Btn {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: #fca311;
  color: white;
  box-shadow: 0px 10px 10px #ffc569 inset,
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px #fca311 inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: right;
    align-content: center;
}

nav{
    width: 40%;
    margin: auto 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    margin: auto 0;
    padding: 0;
    gap: 30px;
}

nav ul li{
    list-style: none;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5vw;
}

a{
    text-decoration: none;
        color: #14213D;
}

section{
    width: 100%;
    height: 870px;
}

.landingSection{
    width: 100%;
    height: 865px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto 0;
}

.TextLandingSection{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
}

.myName {
    font-family: "Orbitron", sans-serif;
    font-size: 3vw;
}

.im{
    font-family: "Orelega One", serif;
    font-size: 3vw;
}

.profession{
    font-family: "Over the Rainbow", cursive;
    font-size: 4vw;
}

.socialNetwork{
    width: 50px;
}

.graphicsContainer1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.containerArrow{
    width: 20%;
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

.arrow{
    width: 70px;
    height: auto;
    transform: rotate(90deg);
    filter: invert();
}

.ContainerSocialNetwork{
    display: 80%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.AboutMeSection{
    width: 100%;
    height: 865px;
}

.AboutContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imgContainer{
    width: 45%;
    height: 90%;
    border-radius: 31px;
}

.AboutImg{
    width: 100%;
    height: 100%;
    border-radius: 31px;
    filter: blur(5px);
    transition: filter 1s ease-in;
}

.AboutImg:hover{
    filter: blur(0);
}

.SkillContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.SkillTitleContainer{
    width: 100%;
    height: 30%;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5vw;
    color: #14213D;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-content: center;
    margin: auto 0;
    padding-top: 100px;  
}

.titleSkill{
  cursor: pointer;
  margin: 0;
}

.rectangle{
    width: 100%;
    height: 5px;
    background-color: #14213D;
    border-radius: 31px;
}

.containerSkills{
    width: 100%;
    height: 80%;
}

.SkillContainer1{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
    display: none;
  }

.skill{
    width: 240px;
    height: 60px;
    background-color: #D9D9D9;
    border: 1px solid #14213D;
    border-radius: 16px;
    padding: 10px;
}

.SkillBoxText1{
    font-family: "Over the Rainbow", cursive;
    font-weight: 650;
    font-size: 1vw;
}

.SkillBoxText3{
   font-family: "Orelega One", serif;
   color: white;
}

.SkillBoxTitle{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.SkillBoxText2{
  width: 35px;
  height: 25px;
  background-color: #14213D;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars{
  width: 23%;
  height: 15px;
  border-radius: 31px;
  background-color: #14213D;
}

.SkillBoxbars{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.EducationContainer{
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

.EducationContainer ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.EducationContainer ul li{
  font-size: 40px;
}

.educationText{
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
}

.EducationContainer ul li ul li{
  font-family: "Orelega One", serif;
  font-size: 35px;
}

.ProjectsSection{
    width: 100%;
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectContainers{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #14213D;
  border-radius: 31px;
}

.SkillTitleContainer2{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title1{
    width: 100%;
    height: 30%;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5vw;
    color: #14213D;
    text-align: center;
}

.CardsContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.ContactSection{
    width: 100%;
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactContainer{
  width: 20%;
  height: 60%;
  border: 3.5px solid #14213D;
  border-radius: 31px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactTitle{
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Over the Rainbow", cursive;
  font-size: xx-large;
  font-weight: 600;
}

.barCrossinggit {
  width: 100%;
  height: 3px;
  background-color: #14213D;
}

.formContainer p{
  font-family: "Orelega One", serif;
  font-size: large;
  padding: 10px;
}

form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

input, textarea{
  width: 80%;
  border: 2.5px solid #14213D;
  border-radius: 15px;
  padding: 5px;
  font-family: "Over the Rainbow", cursive;
}

footer{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer{
  width: 80%;
  height: 100%;
  border: 1px solid #14213D;
  text-align: center;
  font-family: "Over the Rainbow", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

@media(max-width: 600px){
  body{
    width: 100%;
  }
  nav ul li{
    list-style: none;
    font-size: 2.5vw;
  }
  .landingSection{
    width: 100%;
    height: 700px;
  }
  .myName {
    font-size: 8.5vw;
  }
  .im{
      font-size: 7.5vw;
  }
  .profession{
      font-size: 8.5vw;
  }
  .ProjectsSection{
    width: 100%;
    height: 700px;
  }
  .SkillTitleContainer2{
    flex-direction: row;
  }
  .ProjectsSection{
    flex-direction: row;
  }
  .graphicsContainer1{
    flex-direction: row-reverse;
    position: relative;
  }
  .ContainerSocialNetwork{
    top: -130px;
    position: absolute;
  }
  .containerArrow{
    padding: 0;
    top: -80px;
    position: absolute;  
  }
  header{
    height: 50px;
  }
  .AboutMeSection{
    height: auto;
  }
  .AboutContainer{
    flex-direction: row;
  }
  .imgContainer{
    width: 70%;
    height: 45%;
    filter: blur(0);
  }
  .SkillContainer{
    width: 70%;
  }
  .SkillTitleContainer{
    height: 90px;
    padding: 0;
    font-size: 4.5vw;
  }
  .titleSkill{
    height: 50px;
  }
  .SkillBoxText1{
    font-size: 4vw;
    font-weight: 500;
  }
  .EducationContainer ul li{
  font-size: 5vw;
  }

  .educationText{
      font-size: 5vw;
  }

  .EducationContainer ul li ul li{

    font-size: 4vw;
  }
}